/*Das generelle css der Seite*/

body{

/* Hintergrund kram */
  background-image: url(background.svg);
  background-size: 100px;
  background-repeat: repeat;
  background-position: top;

}

.center{
  align-items: center;
  justify-content: center;
  display: flex;
}

.font{
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/* link und anker scheisse */
a.font:link {
  color: white;
}

a.font:visited {
  color: #bfdfff;
}

a.font:hover {
  color: #0080ff;
}

a.font:active {
  color: #0080ff;
}

a[name="LICENSE"]{
  color: white
}

/* Home button shit */

.home{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
img.home{
  height: 50px;
  margin: 25px;
}

img.button{
  height:75px;
  margin: 25px;
  transition: 0.25s;
}
img.button:hover{
  height:100px;
  transition: 0.25s;
}

footer{
position: absolute;
display: flex;
bottom: 10px;
color: white;
z-index: 101;
}
a.footer{
  color: white
}
