/*Das generelle css der Seite*/

body{

/* Hintergrund kram */
  background-image: url(background.svg);
  background-size: 100px;
  background-repeat: repeat;
  background-position: center;

}

.center{
  align-items: center;
  justify-content: center;
  display: flex;
}

.font{
  font-family: Arial;
  color: white;
}

a.font {
  
}
