
@font-face{
    font-family: 'Nexa';
    src: url('Nexa-Trial-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
body{
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family:'Arial';
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 100%;
}

#menuText.container{
    width: max(200px,25%);
    margin: auto;
    margin-top: 100px;
    overflow-x:visible;
    overflow-y:visible;
}

.word{
    font-size: max(100%,2vw) !important;
    letter-spacing: min(10px, 1vw);
    text-align:justify;
    text-transform:uppercase;
    margin: 0;
    transition: .2s;
    transition-property: opacity;
    user-select: none;
}

.line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block: 38.4px;
}

#menuText:not(.container)[data-hover-over-word="true"] > * > .word:not(.fancy:hover){
    opacity: 0.2;
}
#menuText.move{
    transform: scale(2);
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.fancy{
    cursor: pointer;
    user-select: none;
}

.letter{
    display: inline-block;
    transition: 0.5s;
    transition-property: transform;
}

#gallery.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.gallery.img{
    width: 45vmin;
    position: absolute;
    transform: translate(-50%, -50%);
}

.gallery.largImage{
    z-index: 99;
    position: absolute;
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.backLayer{
    z-index: 99;
    position: absolute;
    width: calc(100vw + 1px);
    height: calc(100vh + 1px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: black;
}

.portfolioImage[data-status='active']{
    display:block;
    user-select: none;
    /*pointer-events: none;*/
    opacity: 1;
    transition-duration: 0s;
}

.portfolioImage:not([data-status='active']){
    /*display: none;*/
    opacity: 0;
    transition-duration: 1s;
}
.portfolioImage{
    transition: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease;
    border-radius: 10px;
}

body[data-page="gallery"]{
    overflow: hidden;
}

.backbutton{
    user-select: none;
    cursor: pointer;
    z-index: 98;
}

*[data-trans-text='true']{
    opacity: 0.2;
    font-style: italic;
    user-select: none;
    font-size: small;
}

.aboutText{
    --margin: 50px;
    max-width: 960px;
    width: calc(max(min(960px, 100%), 200px) - (var(--margin)*2));
    margin: var(--margin);
}

@keyframes rot {
    from{
        rotate: 0deg;
    }

    0%{
        scale: 1.5 1;
    }

    50%{
        scale: 1 1.5;
    }

    100%{
        scale: 1.5 1;
    }

    to{
        rotate: 360deg;
    }
}

#cursor{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#blob{
    background: linear-gradient(90deg, rgba(64,0,255,1) 0%, rgba(255,0,64,1) 100%);
    height: 250px;
    aspect-ratio: 1;
    position:relative;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    translate: -50% -50%;
    animation: rot 20s infinite;
    z-index: -1;
    filter:  contrast(10) saturate(0.7) brightness(5);
}
#blur{
    position:absolute;
    top: 50%;
    left: 50%;
    translate: calc(-50% - 1px) calc(-50% - 1px);
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    position: absolute;
    backdrop-filter: blur(200px);
    z-index: -1;
}

.copyright{
    position: absolute;
    bottom: 0%;
    left: 0%;
    translate: 20px -5vmin;
    z-index: 100;
}

