body{
    background-color: #3c3c44;
    color: white;
}

.container{
    position: relative;
    width:100vw;
    min-height: 100px;
    background-color: #4e4e59;
    margin-left: calc(50% - 50vw);
    border-radius: 10px;
    padding-block: 10px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.img{
    position:relative;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    padding:auto;
    margin:5px;
    cursor: pointer;
}
.c{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

div.layer{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    background: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
}
img.layer{
    max-width: calc(100vw - 50px);
    max-height: calc(100vh - 50px);
    border-radius: 5px;
}
.layer:hover{
    cursor: pointer;
}

a.c{
    color: white;
}
a.c:link {
    color: white;
  }
  
  a.c:visited {
    color: white;
  }
  
  a.c:hover {
    color: #0080ff;
  }
  
  a.c:active {
    color: #0080ff;
  }