body{
    color: white;

    font-family: 'Open Sans', sans-serif;
    font-size: clamp(75%,100%,2vw);
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

    background-color: #3c3c44;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-size: clamp(10px,12vmin,50px) clamp(10px,12vmin,50px);
    background-position: center;

    overflow-x: hidden;
    overflow-y: overlay;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {
    margin: auto;
    font-size: clamp(0px, 500%, 90vw)
}

html{
    overflow-y:scroll ;
    overflow-x:hidden;
    scrollbar-width:none;
    scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    transition: 0.5s;
}

html.scroll{
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    overflow-y: scroll;
}

html::-webkit-scrollbar{
    display:none
}

.copyright {
    color: white;
    position:fixed;
    bottom:0px;
    left:0px;
    margin: 20px;
}