.image{
  background-position: center;
  background-size: cover;
  height: 256px;
  width: 256px;
  margin: 10px;
  background-repeat: no-repeat;
}
.image:hover{
  cursor: pointer;
  background-size: contain;
}

.imageContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
