.image{
  background-position: center;
  background-size: cover;
  height: 320px;
  width: 320px;
  margin: 10px;
  background-repeat: no-repeat;
}
.image:hover{
  cursor: pointer;
  background-size: contain;
}

.bigImage{
  max-height: 750px;
  max-width: 1500px;
  position: absolute;
  }

.bigLayer:hover{
  cursor: pointer;
}

.bigLayer{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.75)
}
